.modelDivSize {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    border-radius: 5px;
    background-color: #000D20;
    font-size: 15px;
    color: white;
    overflow: auto;
    background-image: url("../assets/img/hero/h1_hero.jpg");
}


.myModalInput {
    color: black;
    text-align: left;
    border-color: transparent;
    border-radius: 3px;
    background-color: #fff;
    border: none;
    line-height: 15px;
    padding: 2px;
    width: 100%;
    outline: none;
}

    .myModalInput:focus {
        background-color: #b3edf5;
    }

.fontBlue {
    color: #04DBEC !important;
    cursor: pointer !important;
}

.myModalInputCom {
    width: 100%;
}

.error {
    color: red;
    font-size: 13px;
    font-weight: bolder;
}

.myTable {
    display: table;
    width: 100%;
}

.modalCloseBtn {
    position: absolute;
    top: 25px;
    right: 75px;
    font-size: 40px;
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    line-height: 40px;
    border-radius: 50%;
}

modalCloseBtn:hover:before {
    color: #04DBEC !important;
}
.myTitle:hover {
    color: #04DBEC;
    cursor: pointer !important;
}