@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
#sidebarBtn {
    position: absolute;
    top: 15px;
    right: 20px;
    height: 48px;
    width: 48px;
    text-align: center;
    background: #000D20;
    border-radius: 5px;
    cursor: pointer;
    transition: top 0.4s ease;
}
#sidebarBtn.click{
  top: 75px;
}
#sidebarBtn span{
  color: white;
  font-size: 28px;
  line-height: 35px;
}
#sidebarBtn.click span:before{
  content: '\f00d';
}
.sidebar {
    position: fixed;
    width: 100%;
    height: 55px;
    top: -55px;
    background: #000D20;
    transition: top 0.4s ease;
}
.sidebar.show{
  top: 0px;
}

.sidebar .List {
color: white;
text-align: center;
}

.taskbarIcon {
    display: inline-flex;
}

.taskbarIconBlock {
    display: block;
}

.taskbarIcon .taskbarIconBlock .taskbarIconLabel {
    font-size: 10px;
}

.taskbarIcon div .icon {
    width: 85px;
    height: 55px;
}

.taskbarIcon div:before {
    font-size: 25px;
    margin-left: 0px;
    color: #fff;
}

.taskbarIcon div:hover:before,
.taskbarIcon div:hover {
    color: #04DBEC;
}

.ddList {
display:none;
list-style-type:none;
}

    .ddList .ddListItem {
        text-align: left;
        font-size: 15px;
        background-color: #000D20;
        padding: 0px;
        margin-left: 7px;
        margin-top: 5px;
        margin-right: 28px;
    }

.taskbarIcon .ddList ul {
    list-style: none
}
.taskbarIcon :hover .ddList {
    display: block;
    position: absolute;
    background-color: #000D20;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

    .taskbarIcon :hover .ddList ul li {
        text-align: left;
        font-size: 12px;
        background-color: #000D20;
        color: white;
    }

.taskbarIcon .ddList ul li:hover {
    color:#04DBEC;
}

.meduimDivSize {
    height: 120px;
    width: 215px;
}

.meduimLongDivSize {
    height: 140px;
    width: 200px;
}

.largeDivSize {
    height: 210px;
    width: 220px;
}

.large2DivSize {
    height: 145px;
    width: 230px;
}

.large3DivSize {
    height: 90px;
    width: 230px;
}
.small2DivSize {
    height: 90px;
    width: 160px;
}
.myBtn6 {
    left: 130px;
}
    .innerDiv {
    margin: 10px;
    margin-top: -2px;
}

.myBtn {
    color: #01173b;
    align-self: center;
    border-color: transparent;
    border-radius: 3px;
    background-color: #04DBEC;
padding-left:3px;
padding-right:3px;
border:none;
line-height:15px;
}


.myBtn2 {
    left: 190px;
}

.myBtn22 {
    left: 200px;
}


.myBtn3 {
    left: 185px;
}

.popupDiv {
    display: none;
    position: absolute;
    top: 75px;
    left: 20px;
    border-radius: 5px;
    background-color: #000D20;
    font-size: 12px;
    color: white;
}

.popupBtn {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    position: relative;
    top: 4px;
    margin-bottom: 3px;
    line-height: 14px;
    border-radius: 50%;
}
.narrowShortDivSize {
    height: 145px;
    width: 175px;
}
.narrowLongDivSize {
    height: 163px;
    width: 190px;
}
.myBtn4 {
    left: 160px;
}
.myBtn7 {
    left: 150px;
}

.narrow2DivSize {
    height: 90px;
    width: 220px;
}

.myBtn5 {
    left: 190px;
}

.modelDivSize {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    border-radius: 5px;
    background-color: #000D20;
    font-size: 15px;
    color: white;
    overflow: auto;
    background-image: url("../assets/img/hero/h1_hero.jpg");
}


.myModalInput {
    color: black;
    text-align: left;
    border-color: transparent;
    border-radius: 3px;
    background-color: #fff;
    border: none;
    line-height: 15px;
    padding: 2px;
    width: 80%;
    outline: none;
}

    .myModalInput:focus {
        background-color: #b3edf5;
    }

.fontBlue {
    color: #04DBEC!important;
}
